.loader {
	width: 1em;
	height: 1em;
	border-radius: 50%;
	border-color: currentColor;
	border-width: 2px 2px 0px 0px;
	border-style: solid;
	animation: spin 1s linear infinite;
	-webkit-animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}